body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h2 {
    text-align: center;
}

.container {
    align-items: center;
    display: flex;
    justify-content: center;
    max-width: 1000px;
    height: 500px;
    width: 100%;
    margin: 0 auto;
    background-color: white;
}

fieldset {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    width: 45%;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

input[type="text"], input[type="email"], input[type="password"], input[type="tel"] {
    width: 90%;
    padding: 10px;
    margin: 5px 0 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

.remember {
    display: inline-flex;
    align-items: center;
}

.login-btn{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin-top: 10px;
    width: 100%;
}

.login-btn:hover{
    background-color: #45a049;
}

a {
    color: #4CAF50;
    text-decoration: none;
    font-size: 0.9em;
}

a:hover {
    text-decoration: underline;
}

.two-col {
    display: flex;
    justify-content: space-between;
}

.two-col input {
    width: 48%;
}